.chart-container {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
}

.figure h3.title {
  text-align: center;
}

.figure figcaption {
  text-align: center;
  font-size: 85%;
  color: #666;
}

.chart {
  display: block;
  margin: auto;
  font-size: 90%;
}

.chart text {
  font-family: Helvetica, sans-serif;
}